@font-face {
  font-family: 'norse';
  src: url('fonts/Norse-Bold.otf');
}

h1 {
  font-family: norse;
}

body {
  margin: 0;
  padding: 0;
  color: rgb(52, 52, 52);
  font-family: Arial, Helvetica, sans-serif;
}

.main {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.left {
  display: flex;
  justify-content: center;
  flex: 4;
  position: relative;
  background-image: url('images/forest_background.jpg');
  background-size: cover;
}

.right {
  flex: 7;
  background-color: rgb(247, 247, 247);
  display: flex;
  flex-direction: column;
}

.logo-wrapper {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  top: 150px;
  height: 150px;
  width: 100%;
  background-color: rgba(0, 0, 0, .6);
}

.logo-text {
  color: white;
  font-size: 80px;
  padding-top: 20px;
}

.first-div {
  flex: 2.5;
  display: flex;
  justify-content: start;
  align-items: end;
  margin-left: 5%;
  margin-bottom: 5%;
  background-color: rgb(247, 247, 247);
}

.second-third-div {
  flex: 6.3;
  display: flex;
  flex-direction: column;
}

.second-div {
  flex: 3.3;
  background-color: white;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, .15);
}

.third-div {
  flex: 3;
}

.form-main-div {
  display: flex;
  flex-direction: row;
  margin-left: 50px;
  gap: 70px;
}

.form-divs {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-div {
  display: flex;
  flex-direction: column;
}

input[type="text"] {
  padding: 0;
  padding-left: 10px;
  margin: 0;
  height: 29px;
  width: 250px;
  border-radius: 4px;
  border-style: solid;
  border-width: 1.2px;
  border-color: rgb(237, 235, 235);
}

input[type="text"]:focus {
  outline: none;
  border-style: solid;
  border-color: blue;
  box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, .2);
}

input[type="text"]:invalid {
  border-color: red;
}

label {
  font-size: 10px;
  color: rgb(96, 94, 94);
}

.error {
  font-size: 10px;
  color: red;
}

.submit-button {
  width: 200px;
  height: 45px;
  border-radius: 8px;
  background-color: rgb(56, 87, 56);
  color: white;
  border: none; 
  font-size: 15px;
  font-weight: bold;
  margin-left: 50px;
  margin-top: 30px;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, .15);
}